.Lead {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #122945;
    &__name {

    }
    &__contact {

    }
    &__phone {
 
    }

    &__nameCompany {
        color: #5E7793;        
    }
}