.DropdownDate {
    display: flex;
    &__dropdown {
        display: flex;
        align-items: center;
        transition: color 0.5s ease;
        svg {
            transition: color 0.5s ease;
            color: #ADBFDF;
        }
        &:hover > svg{
            color: #002CFB;
        }
    }
    &__arrow {
        margin-left: 8px;
        svg {
            transform: rotate(180deg);
        }
        &--active {
            color: #002CFB;
            svg {
                transform: rotate(0);
            } 
        }
    }
    &__clear {
        margin-top: 7px;
        margin-left: 16px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #5E7793;
        svg {
            margin-left: 4px;
        }
        &:hover {
            color: #002CFB;
        }

    }
    &__btn {
        padding: 8px;
        color: #ADBFDF;
        transition: color 0.5s ease; // Добавляем плавную анимацию для изменения цвета
        &:hover svg {
            color: #002CFB;
        }
        &:first-child {
            margin-right: 8px;
        }
        &:last-child {
            margin-left: 8px;
        }
    }
}